name: Continuous Integration
on:
  push:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    name: Check
    steps:
      - uses: actions/checkout@v4
      - name: Types
        run: make test-types
  unit_test:
    runs-on: ubuntu-latest
    name: Unit test
    steps:
      - uses: actions/checkout@v4
      - name: Unit test
        run: make test-ci
