name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    env:
      CI: true
      TZ: utc
      NODE_ENV: test

    strategy:
      matrix:
        node-version: ["16"]

    name: test on nodejs ${{ matrix.node-version }}

    steps:
      - uses: actions/checkout@v4

      - name: install node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - uses: bahmutov/npm-install@v1

      - name: run tests
        run: npm run test
