name: unit testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["16"]

    name: "Test with NodeJS v${{ matrix.node-version }}"
    steps:
       - uses: actions/checkout@v4
       - name: Setup NodeJS v${{ matrix.node-version }}
         uses: actions/setup-node@v4
         with:
            node-version: ${{ matrix.node-version }}
       - run: npm ci
       - run: npm test
