name: main
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["16"]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v4
      - name: install node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
           node-version: ${{ matrix.node }}
      - name: install
        run: npm install
      - name: build
        run: npm run build
