name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    name: CI
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "16"
      - name: Install Dependencies
        run: |
          yarn
      - name: Run Tests
        run: |
          yarn ci
