# This workflow will do a clean install of node dependencies, cache/restore them, run tests across different versions of node

name: Test library

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["16"]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    # Tests do not run on built code by now, needs to be fixed
    # - run: npm run build --if-present
    - run: npm test
    
    # TODO: test on Deno