name: Run tests on Pull Request
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - .npmignore
      - LICENSE
      - README.md    
jobs:
  test:
    name: Run tests (Node.js ${{ matrix.node }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["16"]
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      # Not using "npm ci" because not using lockfile
      - run: npm i
      - run: npm test
