name: Continuous integration
on: [push]
jobs:
  run-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Run checkout
        uses: actions/checkout@v4
      - name: Use Node.js 10.x
        uses: actions/setup-node@v4
        with:
          node-version: "16"
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Run tests
        run: yarn test
      - name: Lint
        run: yarn lint-on-ci
