name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true 

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "16"

    - name: Cache Yarn dependencies
      uses: actions/checkout@v4
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

    - name: Install dependencies
      run: yarn install

    - name: Build tinymce
      run: |
        cd tinymce
        yarn install
        yarn run build

    - name: Build project
      run: |
        cd $GITHUB_WORKSPACE
        yarn run build

    - name: Run tests
      run: yarn run test
