name: Build and Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # Adjust the cron schedule as needed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 'lts/*'

    - name: Install dependencies
      run: npm install

    - name: Build data
      run: npm run build.data

    - name: Build site
      run: npm run build.site

