name: CI

on:
  push:
    branches:
      - main
      - main
  pull_request: {}

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["12"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: yarn
    - run: yarn install --frozen-lockfile
    - run: yarn lint
    - run: yarn test
    - run: yarn test:integration
    - run: yarn test:notelemetry

    - uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}\
