name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm install
    - run: npm test

    # Corresponds to the `after_success` stage in Travis CI
    # This action reads the coverage report and uploads it to Coveralls.
    - name: Upload coverage to Coveralls
      uses: coverallsapp/github-action@v2
      with:
        # The GITHUB_TOKEN is automatically created by GitHub Actions
        github-token: ${{ secrets.GITHUB_TOKEN }}