name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node_version: [16]
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node_version }}
    - name: Install dependencies
      run: yarn install
    -
      name: Install Playwright
      run: npx playwright install
    -
      name: Install Playwright browser
      run: npx playwright install-deps
    -
      name: Run tests
      run: npm run build
