name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jsdom_version: [16]
        karma_version: [5, 6]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install jsdom@${{ matrix.jsdom_version }} karma@${{ matrix.karma_version }}
      - run: "[ -e node_modules/karma-jsom-launcher ] || ln -s ../ node_modules/karma-jsom-launcher"
      - run: npm test