name: Node CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Dependencies
      run: npm ci
    - name: Copy config file
      run: cp config/test.sample.json config/test.json
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.3.0
      with:
        mongodb-version: 4.2
        mongodb-dbname: test
        mongodb-port: 27017
        mongodb-user: ${{ secrets.MONGODB_USER }}
        mongodb-password: ${{ secrets.MONGODB_PASSWORD }}
    - name: Start Server
      run: NODE_ENV=test node index.js &
    - name: Sleep
      uses: jakejarvis/wait-action@master
      with:
        time: '5s'
    - name: Run tests
      run: make ci