name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
        jsdom-version: [16]
        karma-version: [5, 6]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Install jsdom and karma
        run: npm install jsdom@${{ matrix.jsdom-version }} karma@${{ matrix.karma-version }}

      - name: Link karma-jsom-launcher
        run: |
          # if [! -e node_modules/karma-jsom-launcher ]; then 
          #   ln -s../ node_modules/karma-jsom-launcher
          # fi
          if [ ! -e node_modules/karma-jsom-launcher ]; then
            ln -s ../ node_modules/karma-jsom-launcher
          fi
      - name: Run tests
        run: npm test