name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup npm cache
        uses: actions/cache@v2
        with:
          path: '~/.npm'
          key: ${{ runner.os }}-node
          restore-keys: |
            ${{ runner.os }}-node

      - name: Install dependencies
        run: npm install
      - name: Install Cypress
        run: npm install cypress
      - name: Install Cypress plugins
        run: $(npm bin)/cypress install
      - name: Run Cypress tests
        run: $(npm bin)/cypress run